<!DOCTYPE html>

<html>
<head></head>
<body>
<%- include("partials/navbar", { user, profile }) %>
<link rel="stylesheet" type="text/css" href="/css/login.css">
<link rel="stylesheet" type="text/css" href="/css/base.css">
<section class="body content">
  <div>
    <h1 class="login"><%= profile?.profileName || user.username %>'s Profile</h1>
    <h3 class="login left"><%= user.role %> Customer</h3>
    <h3 class="login left">Your current point: <%= profile.totalPoint %></h3>
  </div>
  <% for (const data of errors) { %>
    <h3 class="error"><%= data %></h3>
  <% } %>
  <form  class="login"action="/settings" method="POST">
    <div>
      <div class="label">
	<label for="profileName">Profile Name:</label>
      </div>
      <div>
	<input type="text" name="profileName" placeholder="Your profile name" value="<%= profile.profileName %>">
      </div>
    </div>
    <div>
      <div class="label">
	<label for="bio">Bio:</label>
      </div>
      <div>
	<textarea name="bio" placeholder="Bio"><%= profile.bio %></textarea>
      </div>
    </div>
    <div>
      <div class="label">
	<label for="address">Address:</label>
      </div>
      <div>
	<input type="text" name="address" placeholder="Your Address" value="<%= profile.address %>">
      </div>
    </div>
    <div>
      <div class="label">
	<label for="username">Username:</label>
      </div>
      <div>
	<input type="text" name="username" placeholder="Username" value="<%= user.username %>">
      </div>
    </div>
    <div>
      <div class="label">
	<label for="email">Email:</label>
      </div>
      <div>
	<input type="text" name="email" placeholder="Email" value="<%= user.email %>">
      </div>
    </div>
    <div>
      <div class="label">
	<label for="phoneNumber">New Phone Number:</label>
      </div>
      <div>
	<input type="text" name="phoneNumber" placeholder="New Phone Number" value="<%= formatPhoneNumber(profile.phoneNumber) %>">
      </div>
    </div>
    <div>
      <div class="label">
	<label for="password">New password:</label>
      </div>
      <div>
	<input type="password" name="password" placeholder="Password" value="">
      </div>
    </div>
    <div>
      <div class="label">
	<label for="repeatPassword">Repeat new password:</label>
      </div>
      <div>
	<input type="password" name="repeatPassword" placeholder="Repeat your new password" value="">
      </div>
    </div>
    <div>
      <div class="label">
	<label for="oldPassword">Old password (required to update password):</label>
      </div>
      <div>
	<input type="password" name="oldPassword" placeholder="Your old password" value="">
      </div>
    </div>
    <input type="submit" value="Update Profile">
  </form>
  
  <a href="/delete-account"><button class="btn-delete">Delete Account</button></a>
</section>
</body>
</html>
