<!DOCTYPE html>

<html>
<head></head>
<body>
<%- include("partials/navbar", { user }) %>

<section>
  <div>
    <h1><%= user.profile?.profileName || user.username %>'s Profile</h1>
    <h1><%= user.role %></h1>
    <h1>Your current point: <%= user.profile.totalPoint %></h1>
  </div>
  <% for (const data of errors) { %>
    <h3><%= data %></h3>
  <% } %>
  <form action="/settings" method="POST">
    <div>
      <div>
	<label for="profileName">Profile Name:</label>
      </div>
      <div>
	<input type="text" name="profileName" placeholder="Your profile name" value="<%= user.profile.profileName %>">
      </div>
    </div>
    <div>
      <div>
	<label for="bio">Bio:</label>
      </div>
      <div>
	<textarea name="bio" placeholder="Bio"><%= user.profile.bio %></textarea>
      </div>
    </div>
    <div>
      <div>
	<label for="address">Address:</label>
      </div>
      <div>
	<input type="text" name="address" placeholder="Your Address" value="<%= user.profile.address %>">
      </div>
    </div>
    <div>
      <div>
	<label for="username">Username:</label>
      </div>
      <div>
	<input type="text" name="username" placeholder="Username" value="<%= user.username %>">
      </div>
    </div>
    <div>
      <div>
	<label for="email">Email:</label>
      </div>
      <div>
	<input type="text" name="email" placeholder="Email" value="<%= user.email %>">
      </div>
    </div>
    <div>
      <div>
	<label for="phoneNumber">New Phone Number:</label>
      </div>
      <div>
	<input type="text" name="phoneNumber" placeholder="New Phone Number" value="<%= formatPhoneNumber(user.profile.phoneNumber) %>">
      </div>
    </div>
    <div>
      <div>
	<label for="password">New password:</label>
      </div>
      <div>
	<input type="password" name="password" placeholder="Password" value="">
      </div>
    </div>
    <div>
      <div>
	<label for="repeatPassword">Repeat new password:</label>
      </div>
      <div>
	<input type="password" name="repeatPassword" placeholder="Repeat your new password" value="">
      </div>
    </div>
    <div>
      <div>
	<label for="oldPassword">Old password (required to update password):</label>
      </div>
      <div>
	<input type="password" name="oldPassword" placeholder="Your old password" value="">
      </div>
    </div>
    <input type="submit" value="Update Profile">
  </form>
</section>
<a href="/delete-account">Delete Account</a>
</body>
</html>
